.absolute.z-40.left-0.top-0.lg:static.lg:left-auto.lg:top-auto.lg:translate-x-0.transform.h-screen.overflow-y-scroll.lg:overflow-y-auto.no-scrollbar.w-64.flex-shrink-0.bg-gray-800.p-4.transition-transform.duration-200.ease-in-out.-translate-x-64{ "data-slideover-target" => "menu" }
  .flex.flex-col.gap-4.h-full
    .flex.justify-between.mb-6.pr-3.sm:px-2
      = link_to root_path, class: 'active text-gray-100 text-2xl font-bold uppercase' do
        %svg.inline.w-5.fill-current{:space => "preserve", :viewbox => "0 0 512 512", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M415.803 268.9c23.204-29.203 35.807-65.119 35.807-102.975 0-44.32-17.259-85.987-48.598-117.326C371.672 17.259 330.005 0 285.685 0c-37.858 0-73.773 12.603-102.975 35.807L153.444 6.541a19.19 19.19 0 0 0-27.14 0c-87.885 87.885-87.885 230.882 0 318.766 39.361 39.361 90.806 62.332 146.052 65.523v29.047h-2.678c-40.188 0-72.884 32.719-72.884 72.907 0 10.599 8.593 19.217 19.192 19.217h154.733c10.599 0 19.192-8.617 19.192-19.217 0-40.188-32.696-72.907-72.884-72.907h-6.287V389.85c50.778-5.563 97.767-27.98 134.329-64.543 7.495-7.495 7.495-19.647 0-27.142L415.803 268.9zm-98.775 189.361c11.925 0 22.455 6.397 28.654 15.354h-104.66c6.199-8.956 16.729-15.354 28.656-15.354h47.35zm-31.343-105.416c-50.017 0-96.981-19.419-132.241-54.679-68.338-68.338-72.634-176.837-12.879-250.221L155.57 62.95c-23.204 29.202-35.805 65.119-35.805 102.975 0 44.319 17.259 85.987 48.598 117.326 31.337 31.339 73.005 48.598 117.325 48.598 37.858 0 73.773-12.602 102.975-35.805l15.007 15.007c-33.21 27.076-74.439 41.794-117.985 41.794zm90.184-96.738c-24.089 24.089-56.116 37.355-90.184 37.355-34.067 0-66.094-13.266-90.183-37.355s-37.355-56.117-37.355-90.184 13.266-66.095 37.355-90.184c24.089-24.088 56.116-37.355 90.183-37.355 34.068 0 66.095 13.267 90.184 37.355 24.089 24.089 37.355 56.116 37.355 90.184 0 34.067-13.266 66.095-37.355 90.184z"}
        Providentia

    - if @exercise&.persisted?
      %div
        - cache(sidebar_cache_key) do
          %h3.text-xs.uppercase.text-gray-500.font-semibold.pl-3= @exercise.name
          %ul.mt-3
            %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
              = link_to [@exercise, :networks], class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
                .flex.items-center.justify-between
                  .flex.flex-grow
                    %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                      %i.fas{class: Network.to_icon}
                    %span.text-sm Networks

                  - if @exercise.networks.size > 0
                    .flex.flex-shrink-0.ml-2
                      %span.inline-flex.items-center.justify-center.h-5.text-xs.text-white.bg-indigo-500.px-2.rounded-sm= @exercise.networks.size

            %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
              = link_to [@exercise, :virtual_machines], class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
                .flex.items-center.justify-between
                  .flex.flex-grow
                    %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                      %i.fas{class: VirtualMachine.to_icon}
                    %span.text-sm Virtual machines

                  - if @exercise.virtual_machines.size > 0
                    .flex.flex-shrink-0.ml-2
                      %span.inline-flex.items-center.justify-center.h-5.text-xs.text-white.bg-indigo-500.px-2.rounded-sm= policy_scope(@exercise.virtual_machines).size

            %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
              = link_to [@exercise, :services], class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
                .flex.items-center.justify-between
                  .flex.flex-grow
                    %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                      %i.fas{class: Service.to_icon}
                    %span.text-sm Services

                  - if @exercise.services.size > 0
                    .flex.flex-shrink-0.ml-2
                      %span.inline-flex.items-center.justify-center.h-5.text-xs.text-white.bg-indigo-500.px-2.rounded-sm= @exercise.services.size

            %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
              = link_to [@exercise, :capabilities], class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
                .flex.items-center.justify-between
                  .flex.flex-grow
                    %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                      %i.fas{class: Capability.to_icon}
                    %span.text-sm Capabilities

                  - if @exercise.capabilities.size > 0
                    .flex.flex-shrink-0.ml-2
                      %span.inline-flex.items-center.justify-center.h-5.text-xs.text-white.bg-indigo-500.px-2.rounded-sm= @exercise.capabilities.size

    %div
      %h3.text-xs.uppercase.text-gray-500.font-semibold.pl-3 System
      %ul.mt-3
        - if policy(PaperTrail::Version).index?
          %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
            = link_to versions_path, class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
              .flex.flex-grow
                %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                  %i.fas.fa-history
                %span.text-sm Audit log

        %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
          = link_to operating_systems_path, class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
            .flex.flex-grow
              %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                %i.fas{class: OperatingSystem.to_icon}
              %span.text-sm Operating systems

    %div
      %h3.text-xs.uppercase.text-gray-500.font-semibold.pl-3 Docs
      %ul.mt-3
        %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
          = link_to docs_api_path, class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
            .flex.flex-grow
              %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                %i.fas.fa-gears
              %span.text-sm API

        %li.px-3.py-2.rounded-sm.last:mb-0.false{:class => "mb-0.5"}
          = link_to docs_templating_path, class: 'block text-gray-200 hover:text-white transition duration-150 false active' do
            .flex.flex-grow
              %figure.flex-shrink-0.h-6.w-6.mr-3.text-center
                %i.fas.fa-copy
              %span.text-sm Templating

    .grow
    .text-gray-500.text-center.text-xs= providentia_version_string