- provide(:heading) { "Audit log" }

.p-2.pb-6.text-center.text-lg
  = link_to_if @version.item, @version.full_name, link_for_model(@version.item), class: 'text-indigo-600 hover:text-indigo-900 dark:text-indigo-400'
  event
  %strong= @version.event
  on
  = @version.created_at

= render TableComponent.new do |c|
  - c.with_column { 'attribute' }
  - c.with_column { 'before' }
  - c.with_column { 'after' }

  - @version.changeset.each do |row, (before, after)|
    - c.with_table_row do
      %td.px-6.py-4= row
      %td.px-6.py-4
        - if before.nil?
          %em.text-gray (null)
        - else
          = before
      %td.px-6.py-4
        - if after.nil?
          %em (null)
        - else
          = after