- cache([vm.cache_key_with_version, 'address_preview']) do
  = render TableComponent.new do |c|
    - vm.host_spec.deployable_instances(AddressPreviewPresenter).group_by(&:team_number).each do |team_nr, instances|
      - c.with_table_row do
        %td.text-center.font-lg.font-bold.py-2{colspan: 100, class: actor_color_classes(team_nr ? vm.numbered_actor : vm.actor)}
          - if team_nr
            = vm.numbered_actor.name
            %strong= team_nr.to_s.rjust(2, "0")
          - else
            = vm.actor.name

      - instances.each do |instance|
        - c.with_table_row do
          %td.px-6.py-4.align-top.text-lg= instance.name
          %td.px-6.py-4.space-y-3
            - instance.interfaces.each do |interface|
              %div
                %h4= interface[:name]
                .grid.grid-flow-col.auto-cols-max.space-x-4.text-sm
                  - interface[:addresses].each do |address|
                    %span.rounded.bg-gray-700.text-white.px-2.py-1
                      = address[:address] || I18n.t("address_modes.#{address[:mode]}")
