- if policy(@exercise.virtual_machines.build).create?
  - provide :new_url do
    = url_for [:new, @exercise, :virtual_machine]

= turbo_frame_tag :vm_search, data: { turbo_action: "advance" } do
  %section
    .flex.justify-center.mx-auto{class: 'w-2/3'}
      %ul.flex.flex-shrink.bg-white.dark:bg-gray-800.rounded-lg.items-center.px-3.shadow-lg.mb-6
        %li.p-3.min-w-lg.border-b-4.border-transparent{ class: !params[:team].present? && 'border-amber-400' }
          = link_to 'All', exercise_virtual_machines_path(@exercise, team: nil, query: params[:query]), { data: { turbo_frame: :vm_search }}
        - policy_scope(Team).each do |team|
          %li.p-3.min-w-lg.border-b-4.border-transparent{ class: params[:team] == team.name && 'border-amber-400' }
            = link_to team.name, exercise_virtual_machines_path(@exercise, team: team.name, query: params[:query]), { data: { turbo_frame: :vm_search }}

        %hr.w-px.h-6.bg-gray-200.dark:bg-gray-400.dark:border-gray-400.mx-3/
        .font-sm.relative.rounded-md.shadow-sm
          = form_with(url: [@exercise, :virtual_machines], method: :get, data: { controller: 'vmsearch' }) do
            = hidden_field_tag :team, params[:team]
            = text_field_tag :query, params[:query], class: 'px-3 py-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-3 pr-9 border-gray-300 rounded-md dark:bg-gray-500 dark:border-black', autocomplete: 'off'
          %button.absolute.inset-y-0.right-0.pr-3.flex.items-center.pointer-events-none
            %i.fas.fa-search

  #results= render 'search_results'