- if @address.saved_change_to_connection?
  = @address.virtual_machine.network_interfaces.each_with_index do |nic, index|
    = turbo_stream.update dom_id(nic) do
      = render NetworkInterfaceFormComponent.new(network_interface: nic, network_interface_counter: index+1)

  - @address.virtual_machine.customization_specs.each do |spec|
    = turbo_stream.replace dom_id(spec) do
      = render spec

= turbo_stream.append "#{dom_id(@network_interface)}_addresses" do
  = render @address