= turbo_stream.remove dom_id(@address)
= turbo_stream.update "connection_info" do
  = render "virtual_machines/connection_info", vm: @address.virtual_machine

- @address.virtual_machine.customization_specs.each do |spec|
  = turbo_stream.replace dom_id(spec) do
    = render spec

- @address.virtual_machine.network_interfaces.each_with_index do |nic, index|
  = turbo_stream.update dom_id(nic) do
    = render NetworkInterfaceFormComponent.new(network_interface: nic, network_interface_counter: index)