.py-4.px-2
  - @results.to_a.group_by(&:class).each do |group, results|
    .mb-3.last:mb-0
      .text-xs.font-semibold.text-gray-400.uppercase.px-2.mb-2= group.model_name.human.pluralize
    %ul.text-sm
      - results.each_with_index do |result, index|
        %li.group{tabindex: index, data: { action: 'mouseenter->search#focusOn', 'search-target' => 'list'}}
          = link_to link_for_model(result), class: 'flex items-center p-2 text-gray-800 group-aria-selected:text-white group-aria-selected:bg-indigo-500 rounded' do
            %i.fa.mr-2{class: result.class.to_icon}
            %span
              = result.respond_to?(:name) ? result.name : result.id
              - if result.respond_to?(:exercise)
                = "(#{result.exercise.name})"
